option_settings:
  # Configure HTTPS listener on port 443
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:001598327238:certificate/bf6ac72c-68aa-4883-9809-403fe627c216
    SSLPolicy: ELBSecurityPolicy-TLS13-1-2-2021-06
    ListenerEnabled: 'true'

  # Ensure load balancer type is application
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
